{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<div class="admin_container">
    {% include "shared/_msgFlash.html.twig" %}
</div>
{% endblock %}
