{% extends "base.html.twig" %}

{% block stylesheets %}<link rel="stylesheet" href="{{ asset('assets/css/connexionRegistration.css') }}">{% endblock %}

{% block title %}Conditions d'utilisation{% endblock %}

{% block body %}
    <div class="agree_container">
        {% include "shared/_msgFlash.html.twig" %}
        <h1 class="agree-title">Conditions d'utilisation de DS Music</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequatur blanditiis temporibus porro sunt, error vel? Necessitatibus id error similique provident ea 
        eligendi, sunt, nam possimus, quas aut ad nulla temporibus!
        Et repellat sequi rem corrupti impedit dolore. Aut illum quibusdam itaque, soluta, assumenda illo voluptate a quas repudiandae dicta, nulla ut laudantium deserunt qui. 
        Eius architecto voluptatibus officia nobis iure.
        Asperiores eaque culpa laborum facere, nam praesentium debitis odit, minus esse quam, qui harum placeat adipisci aut magni soluta similique suscipit itaque perferendis 
        accusamus deleniti quae. Molestiae exercitationem enim mollitia!
        Voluptatem quaerat laboriosam at sint pariatur eligendi suscipit in molestias eos modi atque magnam nihil molestiae nam, laborum inventore consequatur officiis 
        dolorem unde sequi. Rerum voluptates et eveniet dolor nam.
        Quo, blanditiis fuga in impedit officiis quasi labore culpa sint error ipsa ipsam consectetur nostrum dolorem possimus vel veritatis at quae illo, hic consequatur 
        illum tenetur veniam distinctio. Aliquid, nam.
        Nihil quisquam corrupti aperiam, facere exercitationem autem similique? Ratione, quibusdam. Quia reiciendis perferendis maiores temporibus. Explicabo dolorem 
        consequuntur laboriosam perferendis quibusdam quis accusantium enim, sapiente vel cumque quidem possimus voluptate.
        Reprehenderit tempore facilis ratione praesentium. Itaque assumenda nam aliquam quia? Nemo, dolor officiis id ipsum enim odit, eius molestiae error vel, illo fugiat? 
        Magnam quae eum, voluptatum voluptas voluptatibus ea!
        Cupiditate esse voluptates qui corrupti officia harum. Quae ullam consectetur hic! Qui sapiente impedit eligendi minima hic assumenda deserunt exercitationem quibusdam 
        quos ipsam. Autem iste, ea vero nam unde eos.
        Tempore atque perferendis corrupti enim soluta mollitia ullam beatae consectetur nulla, officiis adipisci quia blanditiis, voluptas perspiciatis libero nam veniam cum 
        placeat harum eligendi odio? Modi sequi consequatur eligendi sunt.
        Accusamus molestias at natus ipsa, debitis nam voluptas! Veniam eveniet ipsum soluta eaque est recusandae officiis sit error ad iusto, impedit deleniti porro repellat 
        unde ratione qui accusantium illum cumque!
        Nihil eaque fugiat autem doloremque incidunt impedit architecto cumque id, mollitia, eos quidem molestiae dicta. Et, sint unde. Sapiente numquam officia, distinctio 
        tempore obcaecati recusandae quos quae dolorum iste aut!
        Mollitia, veritatis sit? Iusto ab vitae quis aperiam sequi hic ullam temporibus eveniet nulla minima quisquam, perspiciatis est assumenda ad ratione labore! 
        Libero molestias enim amet omnis maiores ipsam atque?
        Hic beatae reprehenderit nobis, voluptate mollitia odio magnam ratione reiciendis sunt. Magnam modi provident minus corporis iure vel temporibus, 
        optio dolorem quis beatae nihil quam reiciendis expedita totam numquam! Temporibus.
        Cumque numquam vero molestias libero a, aut ab perspiciatis voluptatum tempore quod. Laboriosam sed praesentium aperiam quam, facilis quibusdam dolorum maxime 
        illum corporis, consequuntur nulla ipsum animi laborum et libero?
        Eum beatae officiis veniam excepturi dolorum odit fugiat quis? Provident iste non tempore fugiat odio veritatis, corrupti dolores ipsam facere vero qui! Explicabo 
        quae qui ipsum. Placeat et provident perspiciatis!
        Provident ipsa doloremque officiis laboriosam nostrum consequuntur voluptate ex, dolores sint facilis nulla nesciunt unde deleniti quod, minima quos, ad ab odit. 
        Reprehenderit tempore molestias illo totam aliquam officiis rerum?
        Ullam eveniet vel, vero facere ipsa dicta hic. Animi accusamus fuga sit! Minima molestiae atque, porro blanditiis ducimus culpa, commodi natus adipisci, 
        ad explicabo libero voluptas cumque earum reiciendis maiores.
        Nulla aspernatur voluptate animi vel molestiae? Officiis tenetur, officia doloribus nostrum ex molestias quasi inventore dolorem, voluptate eveniet, obcaecati 
        similique ut nam cumque tempora! Dolorem voluptates debitis earum quis architecto.
        Et suscipit repellat nostrum temporibus rerum, iste ducimus voluptates laudantium, minima voluptatem modi quisquam dolores natus aliquid alias. Corporis est illo 
        repellat esse quo omnis molestiae perferendis ut aspernatur at!
        Harum aliquid libero adipisci quis, deserunt possimus. Accusamus ut suscipit amet adipisci sint obcaecati quaerat perferendis nisi similique quia. Quas ipsa eius ea 
        sequi natus cum, delectus magni id accusantium?
        Eum beatae officiis veniam excepturi dolorum odit fugiat quis? Provident iste non tempore fugiat odio veritatis, corrupti dolores ipsam facere vero qui! Explicabo 
        quae qui ipsum. Placeat et provident perspiciatis!
        Provident ipsa doloremque officiis laboriosam nostrum consequuntur voluptate ex, dolores sint facilis nulla nesciunt unde deleniti quod, minima quos, ad ab odit. 
        Reprehenderit tempore molestias illo totam aliquam officiis rerum?
        Ullam eveniet vel, vero facere ipsa dicta hic. Animi accusamus fuga sit! Minima molestiae atque, porro blanditiis ducimus culpa, commodi natus adipisci, 
        ad explicabo libero voluptas cumque earum reiciendis maiores.
        Nulla aspernatur voluptate animi vel molestiae? Officiis tenetur, officia doloribus nostrum ex molestias quasi inventore dolorem, voluptate eveniet, obcaecati 
        similique ut nam cumque tempora! Dolorem voluptates debitis earum quis architecto.
        Et suscipit repellat nostrum temporibus rerum, iste ducimus voluptates laudantium, minima voluptatem modi quisquam dolores natus aliquid alias. Corporis est illo 
        repellat esse quo omnis molestiae perferendis ut aspernatur at!
        Harum aliquid libero adipisci quis, deserunt possimus. Accusamus ut suscipit amet adipisci sint obcaecati quaerat perferendis nisi similique quia. Quas ipsa eius ea 
        sequi natus cum, delectus magni id accusantium?</p>
    </div>
{% endblock %}