{% extends 'base.html.twig' %}

{% block stylesheets %}<link rel="stylesheet" href="{{ asset('assets/css/admin.css') }}">{% endblock %}

{% block title %}Créer une catégorie{% endblock %}

{% block body %}
{% include "shared/_adminNavbar.html.twig" %}

<div class="admin_container">
    <h1>Nouvelle catégorie :</h1>
{% include "shared/_categoryForm.html.twig" %}
</div>
{% endblock %}
