<div id="adminNavbar">
    <ul class="nav nav-pills">
    <li class="nav-item">
        <a class="nav-link" href="{{ path('response_list')}}">Requêtes artiste</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('category_list')}}">Catégories</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Utilisateurs</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Artistes</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Albums</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Musiques</a>
    </li>
    </ul>
</div>
