<footer>
    <div>
        <p>MENTIONS LEGALES</p>
        <ul>
            <li><a href="">Conditions d'utilisation</a></li><br>
            <li><a href="">Politique de confidentialité</a></li>
        </ul>
    </div>
    <div>
        <p>ASSISTANCE</p>
        <ul>
            <li><a href="">Questions & Réponses</a></li><br>
            <li><a href="">Nous contacter</a></li>
        </ul>
    </div>
    <div>
        <p>NOUS SUIVRE</p>
        <ul>
            <li><a href="">Twitter</a></li><br>
            <li><a href="">Instagram</a></li>
        </ul>
    </div>
</footer>

</body>
</html>