        {% for rubrique, messages in app.flashes %}
            <div class="msg_flash alert alert-{{ rubrique }}">
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            </div>
        {% endfor %}